<div *ngIf="flagModel.locationFlag">
<h3> Location Data</h3>
<p-dataTable [value]="locations" selectionMode="single"  [style]="{'width':'50%'}" [(selection)]="selectedLocation"  (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="5" [responsive]="true">
  
    <p-column field="name"  header="Name"></p-column>
    <p-column field="description" header="Description"></p-column>
  
    <p-footer>
      
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToDelete()" label="Delete"></button>
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToEdit()" label="Edit"></button>
      </div>
     
    </p-footer>
   
  
</p-dataTable>
</div>

<p-dialog header="Location Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="location">
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="name">Name</label></div>
          <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="location.name" /></div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-4"><label for="description">Description</label></div>
          <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="location.description" /></div>
      </div>
     
  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        
          <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
      </div>
  </p-footer>
</p-dialog>
<p-confirmDialog></p-confirmDialog>

 <br>
<app-department [departments] = "department" [locationid]="location.id" [flagModel]="flagModel" *ngIf="department"></app-department>
